<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0">
	<title>StackFLowLite</title>

	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>

	<div class="container">
		<div class="row">

			<h2>Welcome to StackFlow-Lite!</h2>


			<div><h3>Questions page</h3></div>

			<div id="questions"></div>
			<div id="answers"></div>


			</div>
		</div>
	</div>

<script src="assets/js/shared.js"></script>
<script src="assets/js/login.js"></script>
</body>
</html>